body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    height: 200px;
    width: 800px;
    display: flex;
    /* flex-direction : row/row-reverse/coloumn/column-reverse;also it reverses the direction of the boxes */
    /* flex-direction: row;->default */
    /* justify-content: flex-start / flex-end / centre / space-evenly ; maintains the order*/
    justify-content: flex-end;
}